body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    width:80vw;

    padding: 0 20px;
  }
  
  .primary {
    background: linear-gradient(to right, blue, green, yellow);
    
    color: #fff;
    padding: 20px;
    margin: 40px auto;
  }
  
  .primary h2 {
    margin:  20px 225px 30px 250px;
  
  
  }

  .primary h1{
    margin:  40px 225px 10px 250px;

  }
  
  nav ul {
    
margin:  40px 225px 20px;

  }
  
  
  nav ul li {
    display: block;
    
 
    

 
  }
  .sub-list {

    display: none;

    position: absolute;

    background-color: white;

}



li:hover .sub-list {

    display: block;

}
  
  nav ul li a {
    color: #fff;
    text-decoration: none;

  }
  
  nav ul li a:hover {
    text-decoration: underline;
    width: 300px;
  height: 100px;
  background: red;
  

 

  }
  
.container{
  padding: 20px;
    margin: 40px auto;
    background-image: linear-gradient(to right, #ff0000, #0000ff);

    background-clip: text;
  
    color: transparent;
  
  }
  

  
  
  
  
  