body {
    font-family: "EB Garamond", serif; 
    background-color: #f4f4f9; 
    color: #333; 
    margin: 0;
    padding: 0;}

 
   body::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/img/51FF3DA6-88B8-4C2E-B328-760F7B2F71CE.jpg); 
    background-size: cover; 
    background-position: center; 
    opacity: 0.2; 
    z-index: -1; }
  
  h1 {
    text-align: center; 
    margin-top: 50px; 
    color: #2c3e50; 
    font-size: 7rem;
  }
  
  nav {
    margin-top: 30px; 
    text-align: center; 
  }
  
  nav ul {
    list-style-type: none; 
    padding: 0; }
  
  nav ul li {
    display: block; 
    margin-right: 20px; 
    margin-bottom:10px;
    font-size: 4rem;
  }
  
  nav ul li a {
    text-decoration: none; 
    color: #3498db; 
    font-size: 1.2rem; 
    padding: 10px 20px; 
    border-radius: 5px; 
    background-color: #ecf0f1; 
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
  
  nav ul li a:hover {
    background-color: #3498db; 
    color: white; }
    
    