* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  
}


.banner {
  background-color: #495d4e;
  color: white;
  padding: 10px;
  font-size: 45px;
  font-weight: bold;



  

}

.nav-buttons {
 
  padding: 20px;
  display: flex;
  justify-content: center; 
  gap: 20px; 
}

.nav-button {
  background-color: #008080;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.nav-button:hover {
  background-color: #e67e22;
  opacity: 0.8;
}

.content {
  flex: 1;
  padding: 50px 20px;
  background-image: url(../img/opac2.png);
  background-size: cover;
  opacity: 0.28;
  
}
.container {

  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px; 
  text-align: left;
  font-size: 21px;

}
.footer {
  background-color: #495d4e;
  color: white;
  padding: 20px 40px;
  position: relative;
}

.back-to-top {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #008080;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.back-to-top:hover {
  background-color: #e67e22;
  opacity: 0.8;
}

/* Media queries */

@media (max-width: 768px) {
  .nav-buttons {
    flex-direction: column;
  }
  .nav-button {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .banner {
    padding: 20px;
    font-size: 24px;
  }
  .content {
    padding: 20px;
  }
  .footer {
    padding: 10px;
  }
}

@media (max-width: 320px) {
  .banner {
    padding: 10px;
    font-size: 18px;
  }
  .content {
    padding: 10px;
  }
  .footer {
    padding: 5px;
  }
}
