* {
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  

  
}


.banner {
  background-color: #495d4e;
  color: white;
  padding: 10px;
  font-size: 55px;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;



  

}

.nav-buttons {
 margin-top: -4%;
 margin-bottom: 2%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 20px; 
}

.nav-button {
  background-color: #008080;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.nav-button:hover {
  background-color: white;
  opacity: 0.8;
  background-image: url(../img/cossatot.jpg);
}

.content {
  flex: 1;
  padding: 50px 20px;
  color: #495d4e;
  background-size: cover;
 
}
.container {

  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px; 
  text-align: left;
  font-size: 21px;

}
.footer {
  background-color: #495d4e;
  color: white;
  padding: 20px 40px;
  position: relative;
}

.back-to-top {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #008080;
  color: white;
  text-decoration: none;
  border-radius: 5px;

}

.back-to-top:hover {
  background-color: white;
  opacity: 0.8;
  background-image: url(../img/cossatot.jpg);
}

/* Media queries */

@media (max-width: 768px) {
  .nav-buttons {
    flex-direction: column;
  }
  .nav-button {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .banner {
    padding: 20px;
    font-size: 24px;
  }
  .content {
    padding: 20px;
  }
  .footer {
    padding: 10px;
  }
}

@media (max-width: 320px) {
  .banner {
    padding: 10px;
    font-size: 18px;
  }
  .content {
    padding: 10px;
  }
  .footer {
    padding: 5px;
  }
}
